<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ohio Breweries</title>
    <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap" rel="stylesheet">
</head>
<body class='body__container'>

    <header class="header__container">
        <a class="header__link" href="/"><img class="header__logo" src="/static/images/ohio_beer.png" alt="ohio beer"></a>
        <p class="header__title">Ohio Breweries</p>
        <a class="header__link" href="/about">About</a>
    </header>

    {% block content %}
    {% endblock %}

    <footer class="footer__container">
        <a class='footer__link' href="/">Home</a>
        <p class='footer__copyright'>© Seth Green 2021</p>
        <a class='footer__link' href="https://www.seth.green">Seth's Portfolio</a>
    </footer>
    
</body>
</html>