{% extends 'base.html' %}

{% block content %}

<div class="intro__container">
    <p class="intro__blurb">
        According to <a class="open__brewery__link" href="https://www.openbrewerydb.org/">Open Brewery DB</a>, 
        there are <span class="intro__emphasize">{{ total_breweries }}</span> breweries in the state of Ohio.
        <span class="intro__emphasize">{{ breweries_with_geo }}</span> of which have their latitude and longitude coordinates on record.
        Look around the map below to find a brewery near you.
    </p>
    <p class="intro__blurb">
        There are also <span class="intro__emphasize">{{ breweries_no_geo }}</span> breweries that don't have latitude/longitude coordinates.
        Those breweries can be found by searching by <span class="intro__emphasize">name</span>, <span class="intro__emphasize">city</span>, or <span class="intro__emphasize">zip code</span>.
    </p>
    <p class="intro__blurb">
        Or you can search for more information about a brewery on the map by the same search criteria.
    </p>
    <h2 class="intro__close">Cheers!</h2>
</div>

<div class='brew_map__container'>
    <iframe id="igraph" scrolling="no" style="border:none;" seamless="seamless" src="/brewmap" height="700" width="700"></iframe>
</div>

<div class="search__container">
    <form class="form__container" method="POST" action="/search">
        <input class="search__input" type="search" placeholder="Search by brewery name, city, or zip" name="search">
        <button class="search__button" type="submit">Search</button>
    </form>
</div>

{% endblock %}